


{% extends "views/parent.html" %}

{% block left %}


    <div class="main">
        <h1>{{title}}</h1>
        <div class="infomation">
            <span>Time: {{date}}</span>
            <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span>Read: {{view}}</span>
        </div>
        <div>{{content | safe}}</div>
        <div class="like">
            <button type="button" class="btn btn-primary" id="like_btn">点赞文章 <span id="like">{{like}}</span></button>
        </div>
        <div class="comment">
            <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
            <button id="commentBtn">提交评论</button>
        </div>
    </div>

    <style>
    pre {
        padding: 10px;
        background: #fafafa;
        font: 12px / 18px Consolas, monospace, serif;
        color: #444;
        -moz-tab-size: 4;
        tab-size: 4;
        overflow: auto;
        border: 1px solid #ddd;
        border-radius: 3px;
    }
    .main{
        background: #f6f6f6;
        padding: 10px;
    }
    .infomation {
        line-height: 30px;
        height: 30px;
        font-size: 14px;
        color: #6c6c6c;
        background: #e9e9e9;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    </style>

{% endblock %}