<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>{{title}}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="background-size: 100%; background-position: -100px -127px; background-image: url('https://img.pconline.com.cn/images/upload/upc/tx/photoblog/1904/02/c11/140323219_1554220392436_mthumb.jpg');">
    <div class="container">
        <h1 class="display-4 text-light">Fluid jumbotron</h1>
        <p class="lead text-light">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            
            <div class="list-group">

                {% for item in list %}

                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{item.title}}</h5>
                    <!-- <small>3 days ago</small> -->
                    </div>
                    <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                    <!-- <small>Donec id elit non mi porta.</small> -->
                </a>
                {% endfor %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link text-secondary" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
                        <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
                        <li class="page-item"><a class="page-link text-secondary" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="col-sm">
            <h3>Hot</h3>
            <ul>
                <li><a href="#">这是一条火热的信息</a></li>
                <li><a href="#">这是一条火热的信息这是一条火热的信息这是一条火热的信息</a></li>
                <li><a href="#">这是一条火热的信息这是一条火热的信息这是一条火热的信息</a></li>
                <li><a href="#">这是一条火热的信息这是一条火热的信息这是一条火热的信息</a></li>
                <li><a href="#">这是一条火热的信息</a></li>
                <li><a href="#">这是一条火热的信息</a></li>
                <li><a href="#">这是一条火热的信息</a></li>
            </ul>
            <h3>Category</h3>
            <ul>
                <li><a href="#">JavaScript</a></li>
                <li><a href="#">HTML5</a>、<a href="#">CSS3</a></li>
                <li><a href="#">NodeJS</a></li>
                <li><a href="#">踩坑</a></li>
            </ul>
        </div>
    </div>
</div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>