{% extends "views/parent.html" %}

{% block left %}


            
<div class="list-group">

        {% for item in list %}

        <a href="/detail/{{item._id}}" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{item.title}}</h5>
            <!-- <small>3 days ago</small> -->
            </div>
            <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
            <!-- <small>Donec id elit non mi porta.</small> -->
        </a>
        {% endfor %}
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item"><a class="page-link text-secondary" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link text-secondary" href="#">1</a></li>
                <li class="page-item"><a class="page-link text-secondary" href="#">2</a></li>
                <li class="page-item"><a class="page-link text-secondary" href="#">3</a></li>
                <li class="page-item"><a class="page-link text-secondary" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}