


{% extends "views/parent.html" %}

{% block left %}
<button type="button" class="btn btn-primary" onclick="window.location.href='/article'">添加</button>
<table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">已删除？</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
{% for item in list %}

<tr>
  <th scope="row">{{loop.index}}</th>
  <td>{{item.title}}</td>
  <td>{{item.is_del}}</td>
  <td><a href="/article/{{item._id}}">编辑</a> | <a href="/delete/{{item._id}}">删除</a></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}