
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=1440px, initial-scale=1, user-scalable=yes, target-densitydpi = device-dpi"> -->
    <!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="keyword" content="{{title}},{{category}},草果网">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <title>{{title}}</title>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7260467722038360",
        enable_page_level_ads: true
    });
    </script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">草果网</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if is_login == 'wjh' %}
        <li class="nav-item">
            <a class="nav-link" href="/admin/list">Manage</a>
        </li>
        {% endif %}
        <!-- <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </li> -->
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
        </ul> -->
        <div class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" value="{{keyword}}" id="keyword" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="(function(){window.location.href='/search/' + document.getElementById('keyword').value;})();">Search</button>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid" style="background-position: center center; background-image: url('/images/a2.png');">
    <div class="container">
        <h1 class="display-4 text-light" style="text-shadow: 2px 3px #000;">虽不能至，心向往之。</h1>
        <p class="lead text-light">怕什么学海无涯，进一寸有一寸的欢喜。</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-9">
            
        {% block left %}{% endblock %}
        </div>
        <div class="col-sm">
            <h3>Hot</h3>
            <ul>
                {% for item in hot %}
                    <li><a href="/detail/{{item._id}}">{{item.title}}</a></li>
                {% endfor %}
            </ul>
            <h3>Category</h3>
            <ul>
                <li><a href="/search/JavaScript">JavaScript</a></li>
                <li><a href="/search/HTML5">HTML5</a>、<a href="/search/CSS3">CSS3</a></li>
                <li><a href="/search/NodeJS">NodeJS</a></li>
                <li><a href="/search/Vue">Vue</a></li>
                <li><a href="/search/踩坑">踩坑</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <a href="http://www.beian.miit.gov.cn" target="__blank">粤ICP备19027686号</a>
        </div>
    </div>
</div>

    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/assets/js/index.js"></script>
</body>
</html>